<footer class="site-footer">
    <div class="copyright">
        <div class="float-left">
            Copyright © @DateTime.Now.Year <a href="#" target="_blank">SR</a>
        </div>
        <div class="float-right">
            Developed with Love by <a href="#" rel="nofollow">Shortcut Rumon</a>
        </div>
    </div><!-- /.copyright -->
</footer>
